<% provide(:title, 'All users') %>
<h1>All users</h1>



 <div class="col-xs-9">

<table>
    <thead>
        <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

     <% @users.each do |t| %>

 <tr>

            <td><%= attachment_image_tag t, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %></td>

            <td><%=t.name %></td>
            <td><%= link_to "show",user_path(t) %></td>

            </th>

        </tr>


        <% end %>

    </tbody>
</table>


</div>