
	<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>

<!-- user_id が正しかったらという記述を足す -->



<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>

    <tbody>

     <% @books.each do |t| %>

 <tr>

            <td><%= attachment_image_tag t.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></td>


            <td><%=t.title %></td>
            <td><%=t.body %></td>
            </th>

        </tr>


     <% end %>

    </tbody>
</table>
