<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
    <%= image_tag('', class: "img-circle pull-left profile-img", style: "width: 100px; height: 100px;") %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
</div>





<!-- user_id が正しかったらという記述を足す -->