 <div class="col-xs-9">

<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>

    <tbody>

     <% @books.each do |t| %>

 <tr>

            <td><%= attachment_image_tag t.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></td>


            <td><%=t.title %></td>
            <td><%=t.body %></td>
            </th>

        </tr>


     <% end %>

    </tbody>
</table>


</div>